* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.full {
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  overflow: auto;
}

.flex-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
}
.flex-column.start {
  justify-content: flex-start;
}
.flex-column.stretch {
  align-items: stretch;
}

.expanding {
  flex: 1 1 auto;
}
